<form class="" action="" (ngSubmit)="onSubmit()">
  <h2>Registrar un nuevo libro</h2>
  <div>
    <label for="">Id del artículo</label>
    <input type="text" name="id" id="" [(ngModel)]="id">
  </div>
  <div>
    <label for="">Nombre del artículo</label>
    <input type="text" name="titulo" id="" [(ngModel)]="titulo">
  </div>
  <div>
    <label for="">Precio</label>
    <input type="text" name="precio" id="" [(ngModel)]="precio">
  </div>
  <div>
    <label for="">ISBN</label>
    <input type="text" name="isbn" id="" [(ngModel)]="isbn">
  </div>
  <input type="submit" value="Crear">
</form>
