<form class="" action="" (ngSubmit)="onSubmit()">
  <h2>Registrar un nuevo usuario</h2>
  <div>
    <label for="">Id del usuario</label>
    <input type="text" name="id" id="" [(ngModel)]="id">
  </div>
  <div>
    <label for="">Nombre del usuario</label>
    <input type="text" name="Nombre" id="" [(ngModel)]="Nombre">
  </div>
  <div>
    <label for="">Cedula</label>
    <input type="text" name="cedula" id="" [(ngModel)]="cedula">
  </div>
  <div>
    <label for="">Foto</label>
    <input type="text" name="foto" id="" [(ngModel)]="foto">
  </div>
  <input type="submit" value="Crear">
</form>
