.row{
  display: flex;
  box-sizing: border-box;
 }
div{
  padding: 5px 0;
}
.titulo{
  display: flex;
  width: 50%;
  padding: 0 5px;
 }
.precio{
  width: 50%;
  padding: 0 5px;
  }
.isbn{
  width: 25%;
  padding: 0 5px;
   }
